:root,
:host {
    --pico-nav-link-spacing-vertical: 0.5rem;
    --pico-nav-link-spacing-horizontal: 1rem;
    --pico-form-element-spacing-vertical: 0.5rem;
    --pico-form-element-spacing-horizontal: 1rem;
}

/* --- LAYOUT --- */
.layout {
    display: grid;
    grid-template-columns: 1fr 300px;
    grid-template-areas:
        "content sidebar";

    gap: 2rem;

    @media (max-width: 768px) {
        grid-template-columns: 1fr;
        grid-template-areas:
            "content"
            "sidebar";
    }
}

.content {
    grid-area: content;
}

.sidebar {
    grid-area: sidebar;
}

/* --- ALERTS --- */
.alert {
    padding: 1rem;
    border-radius: 0.25rem;
    margin-bottom: 1rem;

    &.success {
        background-color: #d4edda;
        color: #155724;
    }

    &.error {
        background-color: #f8d7da;
        color: #721c24;
    }
}

form {
    label {
        font-weight: 700;
    }

    .errorlist {
        color: #721c24;
    }
}

.profile {
    display: flex;
    align-items: center;
    gap: 1rem;

    img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        object-fit: cover;
    }

    .profile__info {
        display: flex;
        flex-direction: column;
    }
}
