{% extends "blog/base.html" %}

{% block content %}
    {% for post in posts %}
        <article class="post">
            <h3><a href="{% url 'blog-post' post.pk %}">{{ post.title }}</a></h3>
            <p>{{ post.content }}</p>

            <footer class="post__footer">
                <img src="{{ post.author.profile.image.url }}" alt="Profile Picture" class="post__avatar">
                <span>
                    <a href="{% url 'blog-user-posts' post.author.username %}">{{ post.author }}</a>
                    on {{ post.created_at|date:"F d, Y" }}
                </span>
            </footer>
        </article>
    {% endfor %}

    {% include "blog/_pagination.html" %}
{% endblock content %}
