{% extends "blog/base.html" %}

{% block content %}
    <article class="post">
        <h3>{{ object.title }}</h3>
        <p>{{ object.content }}</p>

        <footer class="post__footer">
            <img src="{{ object.author.profile.image.url }}" alt="Profile Picture" class="post__avatar">
            <span>
                <a href="{% url 'blog_user_posts' object.author.username %}">{{ object.author }}</a>
                on {{ object.created_at|date:"F d, Y" }}
            </span>

            {% if user == object.author %}
                <div class="post__actions">
                    <a href="{% url 'blog_edit_post' object.pk %}" class="secondary">Edit</a>
                    <a href="{% url 'blog_delete_post' object.pk %}" class="error">Delete</a>
                </div>
            {% endif %}
        </footer>
    </article>
{% endblock content %}
