{% extends "blog/base.html" %}

{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset>
                <h2>Hello Again</h2>
                {{ form.as_p }}
            </fieldset>

            <button class="primary" type="submit">Login</button>
        </form>

        <div style="margin-top: 1rem;">
            <p style="text-align: center;">
                <a href="{% url 'password_reset' %}">Forgot Password?</a>
            </p>

            <p style="text-align: center;">
                Don't have an account?
                <a href="{% url 'users_new' %}">Sign Up</a>
            </p>
        </div>
    </div>
{% endblock content %}
